<?xml version="1.0"?>
<robot name="cf" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="cf_mesh">
    <mesh filename="package://pvcchair_description/meshes/connectors/cf_3_way_slip.dae" />
  </xacro:property>

  <xacro:macro name="cf" params="suffix">
    <link name="cf_${suffix}">
      <inertial>
        <mass value="0.011075" />
        <origin xyz="0.010940 0.000000 -0.009049" />
        <inertia ixx="0.000002" ixy="0.000000" ixz="0.000000"
                                iyy="0.000001" iyz="0.000000"
                                               izz="0.000003" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
        <geometry>
          <xacro:insert_block name="cf_mesh" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
        <geometry>
          <xacro:insert_block name="cf_mesh" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
