<?xml version="1.0"?>

<model>
  <name>Power chair</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Seoungjun Kim</name>
    <email>bus710@gmail.com</email>
  </author>

  <description>
		A wheelchair with two big wheel and two small wheel.
  </description>

</model>
