<?xml version="1.0"?>
<robot name="cc" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="cc_mesh">
    <mesh filename="package://pvcchair_description/meshes/connectors/cc_3_way_y_connect.dae" />
  </xacro:property>

  <xacro:macro name="cc" params="xyz rpy">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <xacro:insert_block name="cc_mesh" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <xacro:insert_block name="cc_mesh" />
      </geometry>
    </collision>
  </xacro:macro>
</robot>
