<?xml version="1.0"?>
<robot name="cd" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="cd_mesh">
    <mesh filename="package://pvcchair_description/meshes/connectors/cd_2_way_elbow.dae" />
  </xacro:property>

  <xacro:macro name="cd" params="xyz rpy">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <xacro:insert_block name="cd_mesh" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <xacro:insert_block name="cd_mesh" />
      </geometry>
    </collision>
  </xacro:macro>
</robot>
