<launch>
  <arg name="xacro_filename" value="$(find pvcchair_description)/urdf/pvcchair.urdf.xacro" />

  <param name="robot_description" command="xacro $(arg xacro_filename)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pvcchair_description)/rviz/pvcchair.rviz" />
</launch>
