<?xml version="1.0"?>
<robot name="p9" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="p9-mesh">
    <mesh filename="package://pvcchair_description/meshes/piping/p9_connects_all.dae" />
  </xacro:property>
  <xacro:property name="p9_length" value="0.038100" />

  <xacro:macro name="p9" params="suffix">
    <link name="p9_${suffix}">
      <inertial>
        <mass value="0.008613" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.000001" ixy="0.000000" ixz="0.000000"
                                iyy="0.000001" iyz="0.000000"
                                               izz="0.000001" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
        <geometry>
          <xacro:insert_block name="p9-mesh" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
        <geometry>
          <xacro:insert_block name="p9-mesh" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
