<?xml version="1.0"?>
<robot name="gearbox_plate" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gearbox_plate" params="suffix parent xyz">
    <link name="gearbox_plate_${suffix}_link">
      <inertial>
        <mass value="0.080099" />
        <origin xyz="-0.072510 0.001500 0.049147" />
        <inertia ixx="0.000051" ixy="0.000000" ixz="0.000017"
                                iyy="0.000150" iyz="0.000000"
                                               izz="0.000099" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pvcchair_description/meshes/gearbox_plate.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pvcchair_description/meshes/gearbox_plate.dae" />
        </geometry>
      </collision>
    </link>
    <joint name="gearbox_plate_${suffix}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="0 0 0" />
      <parent link="${parent}" />
      <child link="gearbox_plate_${suffix}_link" />
    </joint>
  </xacro:macro>

</robot>
