<?xml version="1.0"?>
<robot name="pipes" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pipe" params="xyz rpy len">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <cylinder radius="0.010668" length="${len}" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <cylinder radius="0.010668" length="${len}" />
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="p1" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p1_len}" />
  </xacro:macro>

  <xacro:macro name="p2" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p2_len}" />
  </xacro:macro>

  <xacro:macro name="p3" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p3_len}" />
  </xacro:macro>

  <xacro:macro name="p4" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p4_len}" />
  </xacro:macro>

  <xacro:macro name="p5" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p5_len}" />
  </xacro:macro>

  <xacro:macro name="p6" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p6_len}" />
  </xacro:macro>

  <xacro:macro name="p7" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p7_len}" />
  </xacro:macro>

  <xacro:macro name="p8" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p8_len}" />
  </xacro:macro>

  <xacro:macro name="p9" params="xyz rpy">
    <xacro:pipe xyz="${xyz}" rpy="${rpy}" len="${p9_len}" />
  </xacro:macro>

</robot>
